.reports-detail-view {
  overflow: hidden;
  position: relative;

  .reports-list {
    overflow-x: hidden;
    width: 250px;
    position: absolute;
    margin: 20px;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid $light-grey;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        margin: 0;
        padding: 10px;
        overflow: hidden;
        cursor: pointer;

        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;

        .fa {
          text-align: left;
          width: 20px;
        }

        .fa-check {
          color: $green;
        }

        .fa-close {
          color: $red;
        }

        &:hover {
          background-color: $light-grey;
        }
      }
    }
  }

  .report-detail {
    margin: 0 0 0 250px;
  }
}

.report-detail {
  padding: 10px;
  min-height: 500px;
}
